# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientist
- Open Source and Commercial Tools used by Data Scientist
- Setting up Jupyter and Writing in notebooks
- Git and GitHub

Some of the popular languages that Data Scientists use are: 
1. Python
2. Julia
3. R
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Numpy
3. Pandas
4. Scikit-learn

| Data Science Tools |
| ------------------ |
| Jupyter |
| R-Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Syed Sadiqu Hussain